<div class="row">
    <div class="col-sm-12" style="margin-top: 150px;">
        <div *ngIf="langTemp=='zh-tw'">
            <p align="center">這是一個故事，一個沒有救贖的故事。</p>
            <p align="center">這是一種結局，一種不盡完美的結局。 </p>
            <p align="center">這是一齣童話，僅獻給還不想長大，有許多話還不想說的我們。 </p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <p align="center">これは物語であります，絶望的な物語。</p>
            <p align="center">これは、結果の一種であります，不完全な結末。 </p>
            <p align="center">これはおとぎ話であります，唯一の私たちに多くを言いたくない、に成長したくない専用。 </p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <p align="center">This is a story, a story without salvation.</p>
            <p align="center">This is an outcome, an imperfect ending.</p>
            <p align="center">This is a fairy tale, only dedicated us to do not want to grow up, there are many words who do not want to say.</p>
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
        <p>
            <br>
            <a href="https://www.facebook.com/ChocolateMacaronCatCat/" target="_blank"><img src="cat_school/Point_me.gif" style="width:95% ;max-width:600px ;margin:10px;" alt="點我點我"></a>
        </p>
        <a href="#" class="back-to-top"></a>
        <!-- 這行開始回到top的tag -->
    </div>
    <div class="col-sm-9 col-sm-offset-1" style="margin-top: 50px;">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆遊戲介紹 </h1>
            <p>&nbsp;</p>
            <p>故事是發生在一間大學的開學日。</p>
            <p>那一天，剛好有四位學生缺席。 </p>
            <p>他們懷著各自的理由，不約而同的在這個時間點，對某個都市傳說展開調查。 </p>
            <p>&nbsp;</p>
            <p>在這四位學生之中，有一位戴著貓耳的少女在調查途中失去了意識。</p>
            <p>當她再次睜開眼時，眼前所見的......是令人完全無法想像的場景。</p>
            <p>&nbsp;</p>
            <p>戴著貓耳的少女將要面對許多離奇的童話故事。</p>
            <p>遊戲中，她必須要逐一解決這些由童話所衍生的難題，才得以繼續前進。</p>
            <p>&nbsp;</p>
            <p>在遊玩時也請您確實的，認真的接下遊戲中的挑戰。</p>
            <p>因為那，並非只是給予劇中角色的考驗。</p>
            <p>也是向您所提出的謎題。</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆ゲームの説明 </h1>
            <p>&nbsp;</p>
            <p>物語は大学の学校の日に行われます。</p>
            <p>その日は、ちょうど4学生が欠席したがあります。</p>
            <p>都市伝説調査に偶然この時点で、独自の理由から、と。 </p>
            <p>&nbsp;</p>
            <p>これら4で学生の間で、1着て猫耳の女の子が調査に途中で意識を失いました。</p>
            <p>彼女は再び目を開けると、目が見ている......場面を想像するのは完全にはできません。</p>
            <p>&nbsp;</p>
            <p>猫耳少女を身に着けていることは奇妙なおとぎ話の多くに直面する必要があります。</p>
            <p>ゲーム、彼は個別におとぎ話から派生し、これらの問題を解決しなければならない、彼女が上に移動することができました。</p>
            <p>&nbsp;</p>
            <p>あなたが本当にプレイしているとき、ゲームは重大な挑戦を取りました。</p>
            <p>それだけで文字のテストを与えていないので。</p>
            <p>また、あなたの提案をパズルします。</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆Introduction</h1>
            <p>&nbsp;</p>
            <p>The story takes place on a first day of a university’s new semester.</p>
            <p>That day, just the four students absented.</p>
            <p>They coincidentally had their own reasons at that time, investigating an urban legend. </p>
            <p>&nbsp;</p>
            <p>Among the four students, a girl wearing a cat ears lost consciousness during the half way of investigation.</p>
            <p>When she was awakening, the surroundings behind her was a completely unimaginable scene.</p>
            <p>&nbsp;</p>
            <p>The girls wearing a cat ears who will must face many bizarre fairy tales.</p>
            <p>In the game, she must solve these problems one by one arising from the fairy tales, and get able to move forward.</p>
            <p>&nbsp;</p>
            <p>Please be serious for conquering the challenges in the game.</p>
            <p>Because it’s not just test for the characters in the plot.</p>
            <p>It also some puzzles for you.</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-1" style="margin-top: 50px;">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆遊戲資訊 </h1>
            <p>&nbsp;</p>
            <p>遊戲名稱：私塾
                <br> 製作團隊：
                <a href="index.html" target="_blank">貓咪學園</a>
                <br> 遊戲類型：推理解謎童話
                <br> 遊戲時間：約三到六小時
                <br> 遊戲結局：有三個真結局
                <br> 使用程式：RPG Maker VX Ace
                <br> 製作成員：
                <a href="http://home.gamer.com.tw/creationCategory.php?owner=wer227942914&amp;c=342435" target="_blank"><strong>製作人員名單</strong></a>（持續更新中）
                <br> 使用素材：Senses Circuit
                <br> 　　　　　Episodes &amp; Melody
                <br> 　　　　　Éric Alfred Leslie Satie
                <br> 　　　　　Ludwig van Beethoven
                <br> 　　　　　Анато́лий Константи́нович Ля́дов
                <br>
            </p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆ゲーム情報 </h1>
            <p>&nbsp;</p>
            <p>ゲームタイトル：私塾
                <br> 制作チーム：
                <a href="index.html" target="_blank">猫ガクエン</a>
                <br> ゲームタイプ：おとぎ話の謎を理解するためにプッシュ
                <br> ゲームの時間：約3〜6時間
                <br> プログラム：RPG Maker VX Ace
                <br> 制作メンバー：
                <a href="http://home.gamer.com.tw/creationCategory.php?owner=wer227942914&amp;c=342435" target="_blank"><strong>製作人員名單</strong></a>
                <br> 使用材料：Senses Circuit
                <br> 　　　　　Episodes &amp; Melody
                <br> 　　　　　Éric Alfred Leslie Satie
                <br> 　　　　　Ludwig van Beethoven
                <br> 　　　　　Анато́лий Константи́нович Ля́дов
                <br>
            </p>
            <h1>◆Information</h1>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <p>Title:Singspiel
                <br> Developer:
                <a href="index.html" target="_blank">CatGakuen</a>
                <br> Genre:Reasoning puzzle fairy tale
                <br> Gaming Length:About three to six hours
                <br> Ending Counts:There are three real end
                <br> Engine:RPG Maker VX Ace
                <br> Staff:
                <a href="http://home.gamer.com.tw/creationCategory.php?owner=wer227942914&amp;c=342435" target="_blank"><strong>Production staff list</strong></a>
                <br> Free Material:Senses Circuit
                <br> 　　　　　Episodes &amp; Melody
                <br> 　　　　　Éric Alfred Leslie Satie
                <br> 　　　　　Ludwig van Beethoven
                <br> 　　　　　Анато́лий Константи́нович Ля́дов
                <br>
            </p>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 50px;">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆遊戲畫面 </h1>
            <p>&nbsp;</p>
            <p>◇原創的詩詞作為遊戲標題，在遊戲當中也稍微使用了一些常見的相聲段子。</p>
            <p><img src="cat_school/img/A_01.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇遊戲的存檔畫面，幾乎不使用制式的UI，而是更加融入故事的介面。</p>
            <p><img src="cat_school/img/A_02.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇置身童話世界裡的遊戲地圖，可以和許多可愛的場景物件互動。</p>
            <p><img src="cat_school/img/A_03.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇地圖除了非常夢幻之外，也藏了許多的彩蛋等著您去發現唷！</p>
            <p><img src="cat_school/img/A_04.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆ゲーム画面 </h1>
            <p>&nbsp;</p>
            <p>◇ゲームタイトルなどのオリジナルの詩。</p>
            <p><img src="cat_school/img/A_01.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇ゲームアーカイブ映像、標準的なUIをほとんど使用していますが、より多くのインターフェイスの物語の中へ。</p>
            <p><img src="cat_school/img/A_02.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇ゲームマップのおとぎ話の世界での生活</p>
            <p><img src="cat_school/img/A_03.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇非常に素晴らしい追加を除き、マップ、多くが隠されている驚きあなたはヨーヨーを発見するのを待っています！</p>
            <p><img src="cat_school/img/A_04.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆Screenshot</h1>
            <p>&nbsp;</p>
            <p>◇Original poetry on the game title, which also slightly use some of the common crosstalk scripts in the game.</p>
            <p><img src="cat_school/img/A_01.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇Game of the save view, almost do not use the standard UI, but it more blend into the story interface.</p>
            <p><img src="cat_school/img/A_02.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇To Surround the fairy-tale world of the game spot, you can interact with many lovely scenes objects.</p>
            <p><img src="cat_school/img/A_03.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
            <p>◇In addition to the very fantastic spot, there were hiding a lot of Easter egg await for you to find some!</p>
            <p><img src="cat_school/img/A_04.JPG" style="width:95% ;max-width:1148px;margin:10px;"></p>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 50px;">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆遊戲音樂</h1>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/gcfLCa-FcvM" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/aEhJ137aMqo" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/L5KZtnzbfv0" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/GagtaDKjqig" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆ゲームミュージック</h1>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/gcfLCa-FcvM" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/aEhJ137aMqo" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/L5KZtnzbfv0" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/GagtaDKjqig" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆Game music</h1>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/gcfLCa-FcvM" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/aEhJ137aMqo" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/L5KZtnzbfv0" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
            <div class="video-container">
                <iframe allowfullscreen="" frameborder="0" height="720" src="https://www.youtube.com/embed/GagtaDKjqig" width="1280"></iframe>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 50px;">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆遊戲漫畫 </h1>
            <p>&nbsp;</p>
            <p><a href="cartoon.html" target="_blank">入學試題</a></p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆ゲームやコミック </h1>
            <p>&nbsp;</p>
            <p><a href="cartoon.html" target="_blank">入学試験</a></p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆Cartoon</h1>
            <p>&nbsp;</p>
            <p><a href="cartoon.html" target="_blank">Admission's Questions.</a></p>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 50px;">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆遊戲下載</h1>
            <p>&nbsp;</p>
            <p><a href="https://drive.google.com/folderview?id=0B0jkzIKq7i7Fcm1XS0FhN3pDeUk&amp;usp=sharing" target="_blank">Google</a></p>
            <p><a href="https://drive.google.com/folderview?id=0B5ExbUKg_ADmdVlCdlAyTEh3am8&amp;usp=sharing" target="_blank">Google 分流</a></p>
            <p>&nbsp;</p>
            <p>◆如果發現檔案偶爾會不見，那就是作者正在更新喔。</p>
            <p>◆版本更新的時候，請重新下載遊戲並將存檔及Memory.dat，放入新的遊戲檔案當中。</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆ゲームのダウンロード</h1>
            <p>&nbsp;</p>
            <p>◆すみません、まだ生産のゲーム。</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>◆あなたは、ああ、時々ではなく、著者が更新されていることがファイルを見つけた場合。</p>
            <p>◆バージョンアップは、ゲームやアーカイブとMemory.datを再度ダウンロードしてください、新しいゲームファイルに入れました。</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆Download</h1>
            <p>&nbsp;</p>
            <p>◆Sorry, it's still in production.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆貓咪感言</h1>
            <p>&nbsp;</p>
            <p>在這裡小喵要來宣傳一下<a href="https://store.line.me/stickershop/author/83081/zh-Hant" target="_blank">舞台上的貓耳少女</a>。 </p>
            <p>之所以會出版這樣的貼圖，是為了籌備Steam的上架費用，所特別製作的！ </p>
            <p>如果是喜歡此遊戲，並且希望可以看到後續的劇情，且對遊戲製作有興趣。 </p>
            <p>那麼<a href="http://home.gamer.com.tw/creationDetail.php?sn=2863739" target="_blank">『貓咪學園』</a>，歡迎您的加入！ </p>
            <p>目前也開始考慮將遊戲翻譯成日文版與英文版，所以依舊是持續的徵相關人才喔。 </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆猫の言葉</h1>
            <p>&nbsp;</p>
            <p>促進するためには、ここをクリックして<a href="https://store.line.me/stickershop/author/83081/zh-Hant" target="_blank">ステージ上の猫耳少女</a>。 </p>
            <p>このマップを公開する理由，Steamの準備のコストを追加しました，特別に細工されました！</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆Cat Discourse<</h1>
            <p>&nbsp;</p>
            <p><a href="https://store.line.me/stickershop/author/83081/zh-Hant" target="_blank">A promotion of The Cat Girl on the Stage~!</a> </p>
            <p>The Line Stick is published for the slotting fee of Steam.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆著作聲明 </h1>
            <p>&nbsp;</p>
            <p>遊戲中除了部份音樂素材，所有的繪圖、音樂、故事內容著作權。</p>
            <p>屬於原作者以及【貓咪學園】製作團隊所有。 </p>
            <p>禁止在此遊戲以外使用、轉載、再製。 </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆ブックステートメント </h1>
            <p>&nbsp;</p>
            <p>ゲーム内の音楽、グラフィック、音楽、著作権の物語のすべての創造的な部分に加えて。</p>
            <p>これは、元の作者に属します【猫ガクエン】すべての制作チーム。 </p>
            <p>複製、転載、このゲームの外の使用を禁止します。 </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆Copyright</h1>
            <p>&nbsp;</p>
            <p>Aside from part of the music materials in the game, all the drawings, music and story contents have all copyright.</p>
            <p>All belong to the original author and CatGakuen.</p>
            <p>No part of them be reproduced, using, or sharing in no associate with this game.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆實況說明 </h1>
            <p>&nbsp;</p>
            <p>實況本遊戲並不需要再次獲得允許。 </p>
            <p>但希望可以通知實況的時間，這樣小喵才有辦法，邀請團員一同前往欣賞。 </p>
            <p>歡迎任何人的實況，但禁止以破壞遊戲體驗的方式直接劇透。 </p>
            <p>本遊戲含有血腥和一點點糟糕的劇情表現。</p>
            <p>實況之前請先斟酌。 </p>
            <p>&nbsp;</p>
            <p>&nbsp; </p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆ライブ解説 </h1>
            <p>&nbsp;</p>
            <p>ライブこのゲームは再び許可を取得する必要はありません。 </p>
            <p>しかし、私はあなたが通知タイムタイムを生きることを願って，一緒に見にメンバーを招待します。 </p>
            <p>誰もが生きて歓迎されています，しかし、直接スポイラーをゲーム体験を破壊することを禁止。 </p>
            <p>ゲームは悪い血とドラマの性能を少し含まれています。</p>
            <p>ライブ前に判断によりしてください。 </p>
            <p>&nbsp;</p>
            <p>&nbsp; </p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆For Streamer</h1>
            <p>&nbsp;</p>
            <p>Live this game does not have to be allowed again.</p>
            <p>But I hope you can inform the live time, and there is a way for small meow, inviting members to enjoy together.</p>
            <p>Anyone is welcome to live, but it is forbidden to damage the play experience directly.</p>
            <p>This game contains bloody and a little bit of bad performances.</p>
            <p>Before you live, please consider twice.</p>
            <p>&nbsp;</p>
            <p>&nbsp; </p>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div *ngIf="langTemp=='zh-tw'">
            <h1>◆聯絡我們 </h1>
            <p>&nbsp;</p>
            <p><a href="https://www.facebook.com/ChocolateMacaronCatCat/" target="_blank">貓咪學園專頁</a></p>
            <p><a href="https://twitter.com/chocolatecatdon" target="_blank">貓咪學園推特</a></p>
            <p><a href="../index.html" target="_blank">貓咪學園官網</a></p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='jp-ja'">
            <h1>◆お問い合わせ </h1>
            <p>&nbsp;</p>
            <p><a href="https://www.facebook.com/ChocolateMacaronCatCat/" target="_blank">猫ガクエンページ</a></p>
            <p><a href="https://twitter.com/chocolatecatdon" target="_blank">猫ガクエンツイッター</a></p>
            <p><a href="../index.html" target="_blank">猫ガクエン公式サイト</a></p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="langTemp=='en-us'">
            <h1>◆Contact </h1>
            <p>&nbsp;</p>
            <p><a href="https://www.facebook.com/ChocolateMacaronCatCat/" target="_blank">CatGakuen Facebook</a></p>
            <p><a href="https://twitter.com/chocolatecatdon" target="_blank">CatGakuen Twitter</a></p>
            <p><a href="../index.html" target="_blank">CatGakuen Official Website</a></p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
